html,
body,
#game-content {
  width: 100%;
  height: 100%;
  background-color: var(--theme-primary);
  color: var(--theme-contrast);
}

.cell,
.bttn {
  position: absolute;
  border: 1px solid var(--theme-contrast);
  text-align: center;
}

.cell.lBor {
  border-left: 2px solid var(--theme-contrast);
}

.cell.rBor {
  border-right: 2px solid var(--theme-contrast);
}
.cell.bBor {
  border-bottom: 2px solid var(--theme-contrast);
}
.cell.tBor {
  border-top: 2px solid var(--theme-contrast);
}

.cell.def {
  background-color: var(--theme-secondary);
}

.bttn.sel {
  background-color: var(--theme-secondary);
}

.go {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 45vh;
  position: absolute;
  text-align: center;
  font-size: xx-large;
}
