html,
body,
#game-content {
  width: 100%;
  height: 100%;
}

.cell,
.btn {
  position: absolute;
  border: 1px solid black;
  text-align: center;
}

.cell.lBor {
  border-left: 2px solid black;
}

.cell.rBor {
  border-right: 2px solid black;
}
.cell.bBor {
  border-bottom: 2px solid black;
}
.cell.tBor {
  border-top: 2px solid black;
}

.cell.def {
  background-color: lightgray;
}

.btn.sel {
  background-color: lightgray;
}

.go {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: white;
  padding-top: 45vh;
  position: absolute;
  text-align: center;
  font-size: xx-large;
}
